# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\anconda\project\With-component\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
